.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dashed #ccc; 
}

.search-main ul.nav-tabs li a::before {
    transform: initial;
    background: #fff;
}
.search-wrap ul.nav-tabs li a {
    color: #000;
}
.search-wrap {
    margin: 0 auto;
}
.wrapper > .main.container {
    margin-top: 20px;
}
.search-main ul.nav-tabs {
    padding-left: 0;
}
.panel-footer > ul:nth-of-type(2) {
    display: none;
}
.demo1 table tr > td:last-child {
    padding-left: 10px;
}
.search-wrap .input-group .search-btn {
    background: transparent;
}
.search-wrap .input-group .search-btn .fa-search {
    color: #777;
    padding-left: 10px;
}
#iframe-wrap {
    
}
.search-wrap {
    width: 100%;
    margin-bottom: 20px;
}
.dropdown-menu {
    z-index: 999999;   
}
.search-main .nav-tabs>li {
    width: 20%;
}
.search-main .nav-tabs>li a {
    padding: 10px 0;
    text-align: center
}
.search-main .nav-tabs>li a:before {
    border-top-left-radius: 10px;
}

.wrapper > .main.container > .row > .col-md-4 > div:first-child {
    position: relative;
    z-index: 999;
}
.search-wrap .input-group .search-btn:link,
.search-wrap .input-group .search-btn:visited,
.search-wrap .input-group .search-btn:focus,
.search-wrap .input-group .search-btn:hover,
.search-wrap .input-group .search-btn:active {
    background: transparent;
}
.search-wrap .input-group .search-btn:hover i {
    color: #1c81ec;
}